<div id="tooltip" class ="hidden">

  <p id="modelClass">
    <strong>{{vehicle.modelClass}}</strong>
  </p>

  <p>
    <span id="price">{{format-number vehicle.price format='$0,0'}}</span>
  </p>

  <p>
    <span id="date">{{moment-format vehicle.date 'ddd, MMMM Do YYYY'}}</span>
  </p>

  <p>
    <span id="color">{{vehicle.color}}</span>
  </p>

</div>

