html, body {
  background-color: #f5f5f5;
  margin:0;
  padding:0;
  height:100%;
}

.inventory-swarm {
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  width: 1100px;
  height: 600px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;


  -webkit-box-shadow: 3px 1px 10px 1px rgba(221,221,221,1);
  -moz-box-shadow: 3px 1px 10px 1px rgba(221,221,221,1);
  box-shadow: 3px 1px 10px 1px rgba(221,221,221,1);

/*  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);*/
}

.data-visual {
  width: 100%;
  height: 600px;
}

.x.axis {
  font-family: sans-serif;
  fill: #999;
  /*transform-y: 400px;*/
}

.circle {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  }

#tooltip.hidden {
  display: none;
  }

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/*  path.line {
    fill: none;
    stroke: purple;
    stroke-width: 1.5;
  }
*/
/*  path.area {
    fill: #E2B2B2;
  }
*/
/*  .axis {
     shape-rendering: crispEdges;
  }
*/
  .x.axis line {
     stroke: #bbb;
     stroke-width: 1.0;
  }

/*  .x.axis .minor {
     stroke-opacity: .5;
     stroke: red;
     stroke-width: 1.5;
  }
*/
    .x.axis path {
       fill: none;
       stroke: #ccc;
       stroke-width: 1.0;
    }

/*  .y.axis line, .y.axis path {
     fill: none;
     stroke: #17BED5;
     stroke-width: 1.0;
  }

  .y.axis .minor{
     stroke: #52D12A;
     stroke-width: 1.5;
     stroke-opacity: 0.5;
  }*/


