<div class="inventory-swarm">
{{#data-visual as |ctx width height|}}

  {{#d3-beeswarm
    select=ctx.svg.select.beeswarm
    model=model
    width=width
    height=height
    marginValue="10"
    color=(color-scale "category20b")

      as |modelClass price date color|}}

        {{inventory-popup modelClass=modelClass price=price date=date color=color}}

  {{/d3-beeswarm}}

{{/data-visual}}
</div>